.App {
  min-height: 100vh;
}

.Wrapper {
  display: grid;
  justify-items: center;
  /* align-content: start; */
  margin: 3rem;
  background-color: #fff;
  border-radius: 10px;
  min-height: calc(100vh - 60px - 3rem);
}

.Header {
  display: grid;
  align-content: center;
  background-color: #294069;
  padding-left: 3rem;
  color: #fff;
  height: 60px;
  width: 100%;
  font-size: 2rem;
}
